.cards {
  display: flex;
}

.first {
  border: 2px red dashed;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.first img {
  width: auto;
  
}

.second {
  align-items: flex-end;
  justify-content: space-between;
 
}



.third {
  align-items: flex-start;
  justify-content: space-between;
}

.fourth
{
    align-items: center;
    justify-content: space-between;
}

.right {
  padding-right: 10px;
  padding-left: 20px;
}

.left {
  padding-right: 20px;
  padding-left: 10px;
}