.cards
{
    display: flex;

}

.first{
    border: 2px red dashed;
   
}

.cards{
    height: 400px;
    border: 2px red dashed;
    margin: 20px;
}

.first img
{
   flex: 1; 
   border: 1px black solid;
   
}

.second
{
    align-items: flex-start;
}

.third
{
    align-items: flex-end;
}

.right
{
    padding-right: 10px;
    padding-left: 20px;
}

.left
{
    padding-right: 20px;
    padding-left: 10px;
    
}