.odd, .even{
  text-align: center;
  background-color: yellow;
  border: 1px black solid;
  color: white;
}
.odd{
  flex: 1 10%;
}
.even{
  flex: 1 20%;
}
.second, .fifth, .eighth{
  flex: 1 40%;
}
.container{
  display: flex;
  flex-wrap: wrap;
}











/* 


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

.container {
    display: flex;
    flex-wrap: wrap;
 
    height: 400px;
    width: 1500px;
    border: 2px red solid;
  }

  .container div {
    box-sizing: border-box;
    text-align: center;
    
    border: 2px black solid;
    background-color: yellow;
    flex: 1 10%;

  }


  .odd
  {
    flex: 1;
  }



  .even
  {
    flex: 3;
  }



 */
















  /* @media screen and (max-width: 600px) {
    .item {
      width: 48%; 
    }
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    .item {
      width: 31%; 
    }
  }

  @media screen and (min-width: 901px) {
    .item {
      width: 23%;
    }
  }  */








/* .container
{
    display: flex;
    flex-wrap: wrap;

}


.container div
{
    display: flex;

    background-color: yellow;
    border: 2px black solid;
    height: 50px;

    box-sizing: border-box;

    min-width: 50px;
    padding: 10px;
    
    justify-content: center;
    align-items: center;

    
   
}

.second, .fifth, .eighth
{
    flex: 1;
}

.even
{
    flex: 3;
} */



